<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NLog" version="4.3.8" targetFramework="net461" />
  <package id="OpenDialog" version="1.1.1" targetFramework="net461" />
  <package id="SevenZipSharp" version="0.64" targetFramework="net461" />
  <package id="SevenZipSharp.Net45" version="1.0.4.0" targetFramework="net461" />
</packages>